%h3 At a glance
%div.stat
  %div.bignum= @num_today
  = "#{'patient'.pluralize(@num_today)} registered today"

%div.stat
  %div.bignum 8:34
  average time per patient

%h3 Additional metrics
%ul
  %li
    %a{:href => '#'} Performance history
