%h3 At a glance
%div.stat
  %div.bignum= @num_today
  = "patient#{'s' if @num_today != 1} registered today"

%div.stat
  %div.bignum 8:34
  average time per patient

%h3 Additional metrics
%ul
  %li
    %a{:href => '#'} Performance history
