.bigTimeGraph {
  border: 1px dashed black;
  clear: both;
  margin: 2px;
  height: 230px;
  text-align: center;

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}
