$stat_width: 200px;
$stat_height: 130;

.stat {
  @include main-box;
  text-align: center;
  width: $stat_width;
  height: $stat_height;
  margin-bottom: 10px;
  .bignum {
    font-size: 3.5em;
  }
}
