@import "compass/css3/transition";

$no_alert_bg: #eee;
$alert_bg: #faa;

#drugs {
  width: 500px;
  border-collapse: collapse;

  tbody {
    border: 1px solid black;
  }

  tr.info {
    @include transition(background-color 0.3s linear, opacity 0.1s linear);
  }

  tr.info.no_alert {
    background-color: $no_alert_bg;
  }

  tr.info.alert {
    background-color: $alert_bg;
  }

  td.sparkline {
    border-width: 1px 1px 0 0;

    svg.smallSparkline {
      height: 16px;
      width: 150px;

      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }
    }
  }

  td.details {
    padding: 0;
    background-color: #fff;
    border-width: 0 1px 1px 1px;

    .details_container {
      padding: 5px;

      .submit {
        display: inline-block;
      }

      .details_left {
        width: 50%;
        float: left;
      }

      .details_right {
        width: 50%;
        float: left;
      }

      .bigTimeGraph {
        border: 1px dashed black;
        clear: both;
        margin: 2px;
        height: 230px;
        text-align: center;

        .line {
          fill: none;
          stroke: steelblue;
          stroke-width: 1.5px;
        }

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
      }

      .bigTimeGraph.loading {
        background: url('/assets/ajax-loader.gif') no-repeat center center;
      }

      input::-webkit-input-placeholder {
        text-align: right;
      }
      input:-moz-placeholder {
        text-align: right;
      }
      input:-ms-input-placeholder {
        text-align: right;
      }
    }
  }
}

label {
  display: block;
}

.submit {
  display: block;
}
