@import "main_box";
@import "stat_box";
@import "common";

$registered_width: 400px;
$graph_width: 500px;
$history_width: $graph_width + 4 * $margin;

#content {
  width: $registered_width + $history_width + $stat_width +
  (6 * $margin) + (2 * $padding) + 4px;
}

#registered-container {
  #registered {
    @include main-box;
    width: $registered_width;
  }
  margin: $margin;
}

#history-container {
  @include main-box;
  #registration_history_graph {
    margin: $margin;
    padding: $padding;
    width: $graph_width;
  }
  width: $history_width;
  padding: $padding;
  margin: $margin;
}

#rightbar {
  margin: $margin;
}

.divider {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #aaa;
  height: 30px;
  padding: 0 20px;
  .divider-line {
    height: 1px;
    background-color: #aaa;
    .divider-date {
      background-color: $main-background;
      padding: 0 0.5em;
      position: relative;
      top: -0.6em;
    }
  }
}
