@import "main_box";

$content-padding: 10px;
$registered-width: 300px;
$history-width: 500px;
$right-bar-width: 200px;

#registered-container {
  float: left;
  #registered {
    @include main-box;
    width: $registered-width;
  }
  padding: $content-padding;
}

#history-container {
  float: left;
  width: $history-width + 4 * 10px;
  @include main-box;
  #registration_history_graph {
    margin: 10px;
    padding: 10px;
    width: $history-width;
  }
  margin: 10px;
  padding: $content-padding;
}

#rightbar {
  padding: 0 10px;
}

.divider {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #aaa;
  height: 30px;
  padding: 0 20px;
  .divider-line {
    height: 1px;
    background-color: #aaa;
    .divider-date {
      background-color: $main-background;
      padding: 0 0.5em;
      position: relative;
      top: -0.6em;
    }
  }
}
