@import "compass/css3/";
@import "common";
@import "main_box";
@import "stat_box";

$bar_background_colour: #aaa;
$bar_colour: #333;

$doctors_width: 600px;

#content {
  width: $doctors_width + $stat_width + 4 * $margin + 2px;
}
#doctors {
  margin: $margin;
  width: $doctors_width;

  @include main-box;
  .bar-container {
    position: relative;
    display: inline-block;
    background-color: $bar_background_colour;
    width: 300px;
  }

  .bar-container:hover {
    .bar {
      opacity: 0.6;
    }
    .bar-text {
      opacity: 1.0;
    }
  }

  .bar-text {
    @include transition(opacity 0.3s linear);
    position: relative;
    z-index: 1;
    padding: $padding;
    opacity: 0;
  }

  .bar {
    @include transition(opacity 0.3s linear);
    position: absolute;
    left: 0;
    z-index: 0;
    background-color: $bar_colour;
    .bar-text {
      opacity: 0;
    }
  }
}

#rightbar {
  margin: $margin;
}

#department_chooser {
  padding: $padding;
  @include stat-box;
  #department_select {
    width: $stat_width - (2 * $padding);
  }
}
