@import "compass/css3/";
@import "main_box";

$bar_background_colour: #aaa;
$bar_colour: #333;

@mixin fade-transition {
  @include transition(opacity 0.3s linear);
}

hr {
  border: 0;
  height: 1px;
  @include background-image(
    linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
  );
}

#doctors {
  @include main-box;
  .bar-container {
    display: inline-block;
    background-color: $bar_background_colour;
    width: 300px;
  }

  .bar_text {
    @include fade-transition;
  }

  .bar {
    @include fade-transition;
    display: inline-block;
    background-color: $bar_colour;
    text-align: center;
    .bar_text {
      opacity: 0;
    }
  }

  .bar:hover {
    opacity: 0.6;
    text-align: center;
    .bar_text {
      opacity: 1.0;
    }
  }
}

#department_chooser {
  @include main-box;
  padding: 5px;
  width: 200px;
  #department_select {
    width: 150px;
  }
}
